body { font-family: Montserrat,sans-serif; max-width:1000px; background:#F5F8FF; }
h1 { margin-bottom:10px; }
.ohjebox { background:#ddf6ff; padding:14px 18px; border-radius:7px; margin-bottom:20px; color:#055; }
input, select, button { font-size:1em; margin:3px 0; }
.tarjousbtn { padding:9px 18px; background:#00609A; color:#fff; font-size:1.2em; border:none; border-radius:8px; margin-top:12px; }
label {font-weight:600;margin-right:8px;}
#measurements span { background:#f9f9ff; border-radius:5px; margin-bottom:3px; display:inline-block; padding:2px 9px;}
#pricebox { border:1px solid #acd; background:#F2FFD8; border-radius:7px;}
